<!DOCTYPE html>
<html ng-app="ListenToTheFish" ng-csp ng-cloak ng-init="staticUrl = '{{ STATIC_URL }}'">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="author" content="Bernhard Posselt">
    <link rel="stylesheet" href="{{ STATIC_URL }}homepage/vendor/angular/angular-csp.css">
    {% if TEMPLATE_DEBUG %}
        <link rel="stylesheet" href="{{ STATIC_URL }}homepage/css/style.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}homepage/vendor/normalize-css/normalize.css">
    {% else %}
        <link rel="stylesheet" href="{{ STATIC_URL }}homepage/build/app.min.css">
    {% endif %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}homepage/img/favicon.png">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="main">
        <nav>
          <ul>
            <li><a href="#">Allgemein</a></li>
            <li><a href="#">Archiv</a></li>
            <li><a href="#">Home</a></li>
          </ul>
        </nav>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="{{ STATIC_URL }}homepage/vendor/jquery/jquery.min.js"></script>
    {% if TEMPLATE_DEBUG %}
        <script src="{{ STATIC_URL }}homepage/vendor/angular/angular.js"></script>
        <script src="{{ STATIC_URL }}homepage/vendor/angular-animate/angular-animate.js"></script>
        <script src="{{ STATIC_URL }}homepage/build/app.js"></script>
    {% else %}
        <script src="{{ STATIC_URL }}homepage/vendor/angular/angular.min.js"></script>
        <script src="{{ STATIC_URL }}homepage/vendor/angular-animate/angular-animate.min.js"></script>
        <script src="{{ STATIC_URL }}homepage/build/app.min.js"></script>
    {% endif %}

    {% block scripts %}{% endblock %}
</body>
</html>
