html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 960px;
    min-height: 100%;
    margin: auto;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

nav {
    width: 100%;
    height: 45px;
}

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        nav li {
            display: block;
            float: left;
        }

            nav a {
                line-height: 32px;
                float: left;
                text-decoration: none;
                padding: 0 20px;
                background-color: #aaa;
                color: #fff;
            }

            nav a:hover {
                background-color: #ccc;
            }

            nav .active a {
                background-color: #ccc;
            }

nav:after {
    clear: both;
}

.nav-fish {
    background-image: url('../img/nav-fish.png');
    background-repeat: no-repeat;
    padding-left: 58px;
    background-position: 10px center;
}

.loading.nav-fish {
    animation: swim 1s infinite ease-in-out;
    -webkit-animation: swim 1s infinite ease-in-out;
    -moz-animation: swim 1s infinite ease-in-out;
    -ms-animation: swim 1s infinite ease-in-out;
}

/**
 * content
 */
#content {
}

/**
 * Events
 */
.events {

}

.events .date {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    line-height: 30px;
    width: 100%;
    display: block;
    padding: 0 10px;
    background-color: yellow;
}

