<div class="events">

    <div class="articles">
        <div class="filter">
            <input type="text" placeholder="Suche"/>
        </div>

        <a ng-repeat="event in events" ng-href="#/events/[[ event.id ]]">
            <article ng-class="{active: event.id == activeEvent.id}">
                <header>
                    <div>
                        <time class="date" datetime="[[ event.date | date:'shortDate' ]]">  [[ event.date| date:'EEE dd.MM.yy' | date:'mediumDate']]
                        </time>    
                    </div>
                    <div>
                        <h1 class="title">[[ event.title ]]</h1>
                    </div>
                    
                </header>

                <div class="placetime">
                    <p>[[ event.place ]]</p>
                    <p>[[ event.date | date:'shortTime' ]]</p>
                </div>

                <p>[[ event.description ]]</p>
            </article>
        </a>
    </div>

    <div class="detail">
        [[ activeEvent.place ]]
        <img width="300" ng-src="[[ activeEvent.image ]]">
    </div>
</div>
