<div class="events">
    <article ng-repeat="event in events">
        <time class="date" datetime="[[ event.date | date:'shortDate' ]]">[[ event.date| date:'yyyy-MM-dd' | date:'mediumDate']]</time>
        <header>
            <h1>[[ event.title ]]</h1>
            <img ng-src="[[ event.image ]]">
        </header>
        <table>
            <tr>
                <th>Ort:</th>
                <td>[[ event.place ]]</td>
            </tr>
            <tr>
                <th>Zeit:</th>
                <td>[[ event.date | date:'shortTime' ]]</td>
            </tr>
        </table>
        <p>[[ event.description ]]</p>
        <button ng-click="event.showMore=!event.showMore">Mehr</button>
        <p ng-animate ng-show="event.showMore">[[ event.description ]]</p>
    </article>
</div>
